* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

.second-color {
    color: #E55473;
}

.third-color{
    color: #FFFFFF;
}

.banner {
    background-color: rgba(229, 84, 115, 0.10);
}

.banner-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    background-color: #fdedf1;
}

.search {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: white;
}

input[type="text"] {
    width: 350px;
    border: none;
    outline: 0 none;
    margin-right: 10px;
}

.search a {
    color: #eb5077;
}

.banner-logo {
    width: 59%;
    color: rgb(39, 39, 39);
    font-size: 40px;
    font-weight: 900;
}

.banner-container {
    /* display: flex;
    align-items: center;
    justify-content: space-around; */
    color: white;
    background-size: cover;
    height: 100vh;
    padding-top: 68px;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 49px;
}

.banner-img {
    width: 500px;
    height: 100vh;
}

.banner-left {
    float: left;
    width: 55%;
    margin-top: 150px;
    margin-left: 62px;
}

.banner-right{
    float: right;
}

.title {
    width: 52%;
    color: #272727;
    font-size: 42px;
    font-weight: 800;
}

.description {
    width: 88%;
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: rgba(39, 39, 39, 0.60);
}

.btn-primary {
    padding: 10px 20px;
    background-color: #E55473;
    border: none;
    border-radius: 8px;
    color: white;
}

.feature-title {
    text-align: center;
}

.feature-description {
    text-align: center;
    padding: 0 325px;
}

.feature {
    margin: 90px 0;
}

.main-container {
    max-width: 80%;
    margin: 0 auto;
}

.feature-container {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.box-border {
    width: 317px;
    height: 485px;
    color: #0a0a0a;
    background-color: rgba(167, 33, 98, 0.15);
    border-radius: 300px 300px 0 0;
    padding: 15px;
    position: relative;
}

.flower-2 {
    background-color: rgba(5, 151, 160, 0.15);
}

.flower-3 {
    background-color: rgba(71, 125, 17, 0.15);
}

.flower {
    width: 80%;
    position: absolute;
    bottom: 0;
}

.box-title {
    display: flex;
    margin-top: 11px;
    justify-content: space-around;
}

.box-titlee {
    border-bottom: 1px solid;
    font-size: 15px;
}

.support {
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin: 130px 0;
}

.support-container {
    padding: 59px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.support-title {
    font-weight: 600;
    font-size: 15px;
}

.discount {
    background-color: rgba(229, 84, 115, 0.05);
}

.discount-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    background-size: cover;
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
}

.discount-left {
    width: 50%;
    text-align: center;
}

.discount-title {
    color: #272727;
    font-size: 46px;
    font-weight: 800;
}

.discount-description {
    text-align: center;
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 21px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 10px;
}

.instagram {
    margin: 90px 0;
}

.instagram-title {
    text-align: center;
}

.instagram-description {
    text-align: center;
    padding: 0 325px;
}

.instagram-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

img.flower-4 {
    text-align: center;
    width: 249px;
}

.instagram-flower {
    margin-top: 30px;
}

.email {
    background-image: url("./Flower Asset/Rectangle\ 9.png");
    background-size: cover;
    height: 55vh;
    margin-bottom: 90px;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.email-container {
    width: 500px;
    height: 100px;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
}

input[type="email"] {
    width: 350px;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    outline-color: #fee22b;
    margin-right: 10px;
}

.email-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.email-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    line-height: 30px;
}

.footer-back {
    background-color: #111010;
}

.footer-middle {
    text-align: center;
    padding: 100px;
}

.footer-title {
    color: #E55473;
    font-size: 48px;
    font-weight: 800;
}

.footer-description {
    color: rgba(255, 255, 255, 0.90);
    font-size: 18px;
    line-height: 30px;
    padding: 0 194px;
}

.footer-last {
    color: rgba(255, 255, 255, 0.40);
    line-height: 30px;
}